{% extends 'base.html.twig' %}
{% block title %}
  Borrado del actor {{ actor.nom }}
{% endblock %}
{% block main %}
  {{ parent() }}
  <p>
    Borrado del actor <b>{{ actor.nom }}</b>.
  </p>

  <p>
    Por favor, confirma la operación de borrado mediante el formulario.
  </p>

  {{ form(formulario) }}
{% endblock %}
